*{
    margin: 0;
    padding: 0;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(199, 180, 255, 1), rgba(255, 208, 246, 1), rgba(164, 255, 206, 1))
}

.button {
  background-color: linear-gradient(90deg, rgba(199, 180, 255, 1), rgba(255, 208, 246, 1), rgba(164, 255, 206, 1))
}

.me {

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

}

.pic{
    width: 100%;
    max-width: 400px;
    max-height: 400px;
}

.footer{
    margin-top: auto;
    background-color: 'rgba(245,245,245,0.3)';
}

.tracking-in-expand {
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
  
.text {
  background-image: linear-gradient(to right, #002143, #00264a, #012b52, #003159, #003661);;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}