*{
    margin: 0;
    padding: 0;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.pic{
    width: 100%;
    max-width: 400px;
    max-height: 400px;
}

.footer{
    margin-top: auto;
    background-color: #1d1d1d;
}

